body {
  background: url(../img/rio.jpg);
  background-attachment: scroll;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.separador-franja{
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: -1;}
.franja-color{
background-color: red;
}
.derecha{
  width: 50px;
  margin-top: 2rem;
}
.logo{
  margin-top: 3rem;
  border-radius: 10px;
  width: 200px;
}
.barra-principal{
  margin-top: 1rem;
}
.btn1{
  margin-top: 1rem;
  }
@media only screen and (max-width: 600px) {
    .btn1{
    width: 15px;
  }
}
@media screen and (max-width: 992px) and (min-width: 600px){
      .btn1{
    width: 90px;
  }
  }
